<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Password Changed</title>
    <style>
        body {
            font-family: Arial;
            background: #e0f7fa;
            padding: 30px;
        }

        .box {
            background: white;
            padding: 20px;
            max-width: 500px;
            margin: auto;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="box">
        <h2>Password Successfully Changed</h2>
        <p>Hi <span th:text="${name}"></span>, your Finvera password has been updated.</p>
        <p>If you didn’t make this change, contact support immediately.</p>
    </div>
</body>

</html>