<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <style>
        body {
            font-family: Arial;
            background-color: #f0f8ff;
            padding: 30px;
        }

        .container {
            background: white;
            padding: 25px;
            border-radius: 8px;
            max-width: 500px;
            margin: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        }

        h1 {
            color: #0d47a1;
        }

        p {
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Password Reset Requested</h1>
        <h1>Hello, <span th:text="${name}"></span> 👋</h1>
        <p>We received a request to reset your password. Use the code below:</p>
        <p class="otp" th:text="${otp}"></p>
        <p>This code expires in 5 minutes. Didn’t request this? Just ignore it.</p>
        <p>If this wasn't you, ignore this message.<br>— Finvera Security</p>
    </div>
</body>

</html>