<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Password Changed</title>
    <style>
        body {
            font-family: Arial;
            background-color: #f0f8ff;
            padding: 30px;
        }

        .container {
            background: white;
            padding: 25px;
            border-radius: 8px;
            max-width: 500px;
            margin: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        }

        h1 {
            color: #0d47a1;
        }

        p {
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Password Successfully Changed</h1>
        <p>Hi <span th:text="${name}"></span>, your Finvera password has been updated.</p>
        <p>If you didn't make this change, contact support immediately.</p>
        <p>If this wasn't you, ignore this message.<br>— Finvera Security</p>
    </div>
</body>

</html>